* {
    margin: 0%;
    text-align: center;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: #081b31;
    color: white;
    text-align: center;
    padding-top: 0.9rem;
    font-size: larger;
}

.image-sec {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.image {

    margin-left: 5rem;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 2rem;
    gap: 5rem;
}
#user-score ,#comp-score{
    font-size: 4rem;
}


.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    }

